@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	--primary-color: #ffa412;
}

body {
	background: #f2f2f2;
	margin: 0;
	font-family: 'Poppins';
}

.navbar {
	background: white;
	padding: 1em;
	position: fixed;
	width: 100%;
	z-index: 999;

	.logo {
		text-decoration: none;
		font-weight: bold;
		color: black;
		font-size: 1.2em;

		span {
			color: var(--primary-color);
		}
	}

	nav {
		display: none;
	}

	.container {
		display: flex;
		place-content: space-between;
		padding-right: 30px;
	}

	.mobile-menu {
		cursor: pointer;
	}
}

a {
	color: #444444;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section {
	padding: 5em 2em;
}

.hero {
	text-align: center;
}

.left-col {
	.subhead {
		text-transform: uppercase;
		font-weight: bold;
		color: gray;
		letter-spacing: .3em;
		margin-top: 30px;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1.3em;
		margin-top: .2em;
	}

	.primary-cta {
		background: var(--primary-color);
		color: white;
		text-decoration: none;
		padding: .6em 1.3em;
		font-size: 1.4em;
		border-radius: 5em;
		font-weight: bold;
		display: inline-block;
	}
}

.hero-img,
.section2-img {
	width: 70%;
	margin-top: 3em;
}

section.features-section {
	background: #20272e;
	color: white;
	text-align: center;
}

.features-section img {
	display: none;
}

ul.features-list {
	margin: 0;
	padding-left: .1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

	li {
		font-size: 1.1em;
		margin-bottom: 1em;
		margin-left: 2em;
		position: relative;

		&:before {
			content: '';
			left: -2em;
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url('../images_new/bullet.svg');
			background-size: contain;
			margin-right: .5em;
		}
	}
}

.features-section2 {
	margin: 60px 0 0 60px;
	padding: 0;
}

.features-section2 p {
	margin-bottom: 30px;
}

#section2-img {
	display: block;
	margin: 0 auto;
	text-align: center;
}

ul.features-list2 {
	margin: 0 auto;
	padding-left: .1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

	li {
		font-size: 1.1em;
		margin-bottom: 1em;
		margin-left: 2em;
		padding-left: 1em;
		position: relative;
		line-height: 1.5em;

		&:before {
			content: '';
			left: -2em;
			position: absolute;
			width: 20px;
			height: 20px;
			background-image: url('../images_new/bullet.svg');
			background-size: contain;
			margin-left: .5em;
		}
	}
}

.testimonials-section {
	background: var(--primary-color);
	color: white;

	li {
		background: #006bd6;
		text-align: center;
		padding: 2em 1em;
		width: 80%;
		margin: 0 auto 5em auto;
		border-radius: 1em;

		img {
			width: 5em;
			height: 5em;
			border: 5px solid #006bd6;
			border-radius: 50%;
			margin-top: -4.5em;
		}
	}
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
	font-weight: 600;
	line-height: 1.8em;
	margin: 50px 0 60px 0;
}

iframe {
	width: 100%;
	height: 300px;
}

nav.menu-btn {
	display: block;
}

nav {
	position: fixed;
	z-index: 999;
	width: 66%;
	right: 0;
	top: 0;
	background: #20272e;
	height: 100vh;
	padding: 1em;

	ul.primary-nav {
		margin-top: 5em;
	}

	li {
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: .5em;
			font-size: 1.3em;
			text-align: right;

			&:hover {
				font-weight: bold;
			}
		}
	}
}

.mobile-menu-exit {
	float: right;
	margin: .5em;
	cursor: pointer;
}

.footer {
	background-color: #20272e;
	padding: 50px 0;

	.container {
		max-width: 1450px;
		margin: auto;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer-col {
		width: 32%;
		padding: 5px;
		margin: 2px;
		text-align: left;

		h4 {
			font-size: 18px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 30px;
			font-weight: 500;
			position: relative;
		}

		ul li:not(:last-child) {
			margin-bottom: 10px;
		}

		ul li {
			color: white;
			line-height: 1.8em;
			cursor: pointer;
		}

		.social-links a {
			display: inline-block;
			height: 40px;
			width: 40px;
			background-color: rgba(255, 255, 255, 0.2);
			margin: 0 10px 10px 0;
			text-align: center;
			line-height: 40px;
			border-radius: 50%;
			color: #fff;
			transition: all 0.3s ease;
		}
		.social-links a:hover {
			color: #24262b;
			background: #fff;
		}
	}
}

@media only screen and (min-width: 768px) {
	.mobile-menu,
	.mobile-menu-exit {
		display: none;
	}

	.navbar .container {
		display: grid;
		grid-template-columns: 180px auto;
		justify-content: unset;
	}

	.navbar nav {
		display: flex;
		justify-content: space-between;
		background: none;
		position: unset;
		height: auto;
		width: 100%;
		padding: 0;

		ul {
			display: flex;
		}

		a {
			color: black;
			font-size: 1em;
			padding: .1em 1em;
		}

		ul.primary-nav {
			margin: 0;
		}

		li.current a {
			font-weight: bold;
		}
		li.go-premium-cta a {
			color: var(--primary-color);
			border: 3px solid var(--primary-color);
			font-weight: bold;
			border-radius: 5em;
			margin-top: -.2em;

			&:hover {
				background: var(--primary-color);
				color: white;
			}
		}
	}

	.footer-col {
		width: 32%;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1080px) {
	.container {
		width: 1080px;
		margin: 0 auto;
	}

	section {
		padding: 8em 4em;
	}

	.hero .container {
		display: flex;
		justify-content: space-between;
		text-align: left;

		.left-col {
			margin: 3em 3em 0 0em;

			h1 {
				font-size: 3em;
				width: 90%;
			}
		}
	}

	.hero-img {
		width: 70%;
		// margin-right: 8em;
	}

	.hero-cta {
		display: flex;
	}
	.primary-cta {
		margin-right: 1em;
	}

	ul.features-list {
		display: block;
		margin-left: 5em;

		li {
			font-size: 1.4em;

			&:before {
				width: 30px;
				height: 30px;
			}
		}
	}

	ul.features-list2 {
		display: block;
		margin-left: 30em;

		li {
			font-size: 1.4em;

			&:before {
				width: 30px;
				height: 30px;
			}
		}
	}

	.features-section,
	.features-section2 {
		position: relative;
	}

	.features-section img {
		display: block;
		position: absolute;
		right: 0;
		width: 500px;
		bottom: -1.5em;
		margin-right: 30px;
	}

	.features-section2 img {
		display: block;
		position: absolute;
		left: 0;
		width: 600px;
		bottom: -2.2em;
		margin-left: 30px;
	}

	.testimonials-section ul {
		display: flex;

		li {
			margin: 0 3em;
		}
	}

	.contact-section {
		position: relative;

		.container {
			display: flex;
		}
	}

	.contact-right {
		position: absolute;
		right: 0;
		top: 0;
		width: 45%;
		height: 100%;

		iframe {
			height: 100%;
		}
	}
}

@media only screen and (min-width: 1450px) {
	.features-section {
		&:before {
			content: '';
			position: absolute;
			width: 10%;
			height: 20em;
			background: var(--primary-color);
			left: 0;
			top: -4em;
		}

		&:after {
			content: '';
			position: absolute;
			width: 200px;
			height: 20em;
			background: url('../images/dots.svg') no-repeat;
			left: 4.5em;
			top: 2em;
		}
	}

	.features-section2 {
		&:before {
			content: '';
			position: absolute;
			width: 10%;
			height: 20em;
			background: var(--primary-color);
			right: 0em;
			top: -4em;
		}

		&:after {
			content: '';
			position: absolute;
			width: 200px;
			height: 20em;
			background: url('../images/dots.svg') no-repeat;
			right: 0.7em;
			top: 2em;
		}

		.subhead {
			text-transform: uppercase;
			font-weight: bold;
			color: gray;
			letter-spacing: .3em;
			margin-top: 0;
			margin-left: 490px;
			margin-bottom: 50px;
		}
	}

	.footer {
		background-color: #20272e;
		padding: 50px 0;

		.container {
			max-width: 1450px;
			margin: auto;
		}

		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.footer-col {
			width: 30%;
			padding: 0 15px;

			h4 {
				font-size: 18px;
				text-transform: uppercase;
				color: white;
				margin-bottom: 30px;
				font-weight: 500;
				position: relative;
			}

			ul li:not(:last-child) {
				margin-bottom: 10px;
			}

			ul li {
				color: white;
			}

			ul li a {
				font-size: 16px;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				font-weight: 300;
				display: block;
			}

			.social-links a {
				display: inline-block;
				height: 40px;
				width: 40px;
				background-color: rgba(255, 255, 255, 0.2);
				margin: 0 10px 10px 0;
				text-align: center;
				line-height: 40px;
				border-radius: 50%;
				color: #fff;
				transition: all 0.3s ease;
			}
			.social-links a:hover {
				color: #24262b;
				background: #fff;
			}
		}
	}
}
